body{
    background-color: peachpuff
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    text-align: center;
    color: red;
    font-weight: bold;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    text-align: justify;
}
p, ul, ol{
    margin: 0 auto;
    text-align: justify;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}